<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<script>
var app = angular.module("payToPlay", []);
app.controller("myCtrl", function($scope, $http, $interpolate, $timeout) {
  // https://developers.google.com/apis-explorer/#p/civicinfo/v2/ API url formatter
  // key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA
  // 837f8f22eb0db5c5cebf40b2dfcc3392
  // $http.get("https://www.googleapis.com/civicinfo/v2/representatives/ocd-division%2Fcountry%3Aus%2Fstate%3Anc?key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA")

  $scope.divisionsInput = 'Enter Location';
  $scope.divisions = {value: 'Enter Location', results: [{name: 'Enter Location'}]}
  // $scope.selectedDivision = 'Enter Location';
  $scope.what = 'what?';
  $scope.clearInput = function() {
    if ($scope.divisionsInput === 'Enter Location') {$scope.divisionsInput = ''};
  }

  $scope.repSearch = function() {
    let url = $interpolate('https://www.googleapis.com/civicinfo/v2/representatives?roles={{selectRole}}&address="{{selectedDivision}}"&key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA')({selectedDivision:$scope.divisions.value.name, selectRole:$scope.selectRole});
    $http.get(url)
      .then(function(response) {
        $scope.representatives = response.data.officials;
      });
  };

  $scope.divisionsSearch = function() {
    let url = $interpolate('https://www.googleapis.com/civicinfo/v2/divisions?key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA&query="{{divisionsInput}}"')({divisionsInput:$scope.divisionsInput});

    $http.get(url)
    .then(function(response) {
      $scope.divisions = {value: response.data.results[0], results: response.data.results};
      // if ($scope.divisions) { $scope.selectedDivision = $scope.divisions[0]; }
      console.log($scope.divisions);
    });
  };

  $scope.searchPayments = function(name) {
    let url = $interpolate('https://www.opensecrets.org/api/?method=getLegislators&id=NJ&apikey=837f8f22eb0db5c5cebf40b2dfcc3392')();
    console.log(url);
    $http.get(url
      // {
      //   transformResponse: function(cnv) {
      //     console.log('lol');
      //     var x2js = new X2JS();
      //     var aftCnv = x2js.xml_str2json(cnv);
      //     return aftCvn;
      //   }
      // })
    )
        .then(function(response) {
          console.log(response);
        });
  };

  $scope.repRoles = ['headOfState', 'headOfGovernment', 'deputyHeadOfGovernment', 'governmentOfficer', 'executiveCouncil', 'legislatorUpperBody', 'legislatorLowerBody', 'highestCourtJudge', 'judge', 'schoolBoard', 'specialPropseOfficer']

});
</script>
<p>Pay To Play</p>

<div ng-app="payToPlay" ng-controller="myCtrl">
<!-- {{divisions}} -->
<input ng-model="divisionsInput" ng-change="divisionsSearch()" ng-model-options="{debounce: 1000}" ng-click="clearInput()">
<select ng-model="divisions.value" ng-options="x.name for x in divisions.results">
<!-- <select ng-model="divisions[0].name" ng-options="x.name for x in divisions"> -->
</select>

<select ng-model="selectRole" ng-options="x for x in repRoles">
</select>

<button ng-click="repSearch()">Search</button>

<div>{{office}}</div>
{{representatives}}
<ul>
  <li ng-repeat="x in representatives" ng-click="searchPayments(x.name)">
    <div ng-if="x.name">{{x.name}}</div>
    <div ng-if="x.party">{{x.party}}</div>
    <img ng-src="{{x.photoUrl}}"/>
    <div ng-if="x.urls[0]">{{x.urls[0]}}</div>
    <div ng-if="x.phones[0]">{{x.phones[0]}}</div>
    <div ng-if="x.address[0]">{{x.address[0].line1}}</div>
    <div ng-if="x.emails[0]">{{x.emails[0]}}</div>
  </li>
</ul>

</div>


</body>
</html>
