<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<script>
var app = angular.module("payToPlay", []);
app.controller("myCtrl", function($scope, $http, $interpolate) {
  // https://developers.google.com/apis-explorer/#p/civicinfo/v2/ API url formatter
  // key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA

  // search for divisions
  $http.get("https://www.googleapis.com/civicinfo/v2/divisions?key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA&query=mateo")
    .then(function(response) {
      console.log(response.data);
      $scope.divisions = response.data.results
    }
  );

  $http.get("https://www.googleapis.com/civicinfo/v2/representatives/ocd-division%2Fcountry%3Aus%2Fstate%3Anc?key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA")
  $scope.divisionsSearch = function() {
    // let url = $interpolate("https://www.googleapis.com/civicinfo/v2/divisions?key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA&query='{{divisions}}'")

    let url = $interpolate('https://www.googleapis.com/civicinfo/v2/divisions?key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA&query={{divisionsInput}}')({divisionsInput:$scope.divisionsInput});
    $http.get(url)
      .then(function(response) {
        // console.log(response.data);
        $scope.divisions = response.data.results
      }
    );
  }

});
</script>
<p>Pay To Play</p>

<div ng-app="payToPlay" ng-controller="myCtrl">
<!-- {{divisions}} -->
<input ng-model="divisionsInput" ng-change="divisionsSearch()">
<ul>
  <li ng-repeat="x in divisions">
    {{x.name}}
  </li>
</ul>
</div>


</body>
</html>
