<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<script>
var app = angular.module("payToPlay", []);
app.controller("myCtrl", function($scope, $http, $interpolate, $timeout) {
  // https://developers.google.com/apis-explorer/#p/civicinfo/v2/ API url formatter
  // key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA
  // 837f8f22eb0db5c5cebf40b2dfcc3392

  $scope.divisionsInput = 'Enter Location';
  $scope.divisions = {value: 'Enter Location', results: [{name: 'Enter Location'}]}
  $scope.divisions.value = $scope.divisions.results[0];
  $scope.repRoles = ['headOfState', 'headOfGovernment', 'deputyHeadOfGovernment', 'governmentOfficer', 'executiveCouncil', 'legislatorUpperBody', 'legislatorLowerBody', 'highestCourtJudge', 'judge', 'schoolBoard', 'specialPurposeOfficer']
  $scope.selectRole = 'headOfState';
  $scope.errors = '';

  $scope.clearInput = function() {
    if ($scope.divisionsInput === 'Enter Location') {$scope.divisionsInput = ''};
  }

  $scope.repSearch = function() {
    let url = $interpolate('https://www.googleapis.com/civicinfo/v2/representatives?roles={{selectRole}}&address="{{selectedDivision}}"&key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA')({selectedDivision:$scope.divisions.value.name, selectRole:$scope.selectRole});
    $http.get(url)
      .then(function(response) {
        if(response.data.officials) {
          $scope.errors = "";
          $scope.representatives = response.data.officials;
        } else {
          $scope.errors = "No officials matching search results";
        }
      });
  };

  $scope.divisionsSearch = function() {
    let url = $interpolate('https://www.googleapis.com/civicinfo/v2/divisions?key=AIzaSyB-zPHJ1O3BSWPVHMHI154vs9-Oye16tnA&query="{{divisionsInput}}"')({divisionsInput:$scope.divisionsInput});

    $http.get(url)
    .then(function(response) {
      if (response.data.results) {
        $scope.errors = ""
        $scope.divisions = {value: response.data.results[0], results: response.data.results};
      } else {
        $scope.errors = "Location did not match any results"
      }
    });
  };

  $scope.searchPayments = function(name) {
    let url = $interpolate('https://www.opensecrets.org/api/?method=getLegislators&id=NJ&apikey=837f8f22eb0db5c5cebf40b2dfcc3392')();

    $http.get(url
      // {
      //   transformResponse: function(cnv) {
      //     console.log('lol');
      //     var x2js = new X2JS();
      //     var aftCnv = x2js.xml_str2json(cnv);
      //     return aftCvn;
      //   }
      // })
    )
        .then(function(response) {
          console.log(response);
        });
  };


});
</script>
<p>Elected Officials</p>
<div class="congressFrame">
  <img src="assets/congress.jpg">
</div>

<div ng-app="payToPlay" ng-controller="myCtrl">
  <div class="searchbar col-12">
    <input class="col-4" ng-model="divisionsInput" ng-change="divisionsSearch()" ng-model-options="{debounce: 1000}" ng-click="clearInput()">
    <select class="col-5" ng-model="divisions.value" ng-options="x.name for x in divisions.results">
    </select>

    <select class="col-2" ng-model="selectRole" ng-options="x for x in repRoles">
    </select>

    <button class="col-1" ng-click="repSearch()">Search</button>
  </div>

  {{errors}}

  <ul>
    <li ng-repeat="x in representatives" class="col-4">
    <!-- <li ng-repeat="x in representatives" ng-click="searchPayments(x.name)"> -->
      <div ng-if="x.name">{{x.name}}</div>
      <div ng-if="x.party">{{x.party}}</div>
      <div ng-if="x.photoUrl" class="frame">
        <img ng-src="{{x.photoUrl}}"/>
      </div>
      <div ng-if="x.urls[0]">{{x.urls[0]}}</div>
      <div ng-if="x.phones[0]">{{x.phones[0]}}</div>
      <div ng-if="x.address[0]">{{x.address[0].line1}}</div>
      <div ng-if="x.emails[0]">{{x.emails[0]}}</div>
    </li>
  </ul>

</div>


</body>
</html>
