* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: auto;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{background-position: top;}
}

.congressFrame {
  max-height: 13em;
  overflow: hidden;
  background-position: bottom;
}

/*.congressFrame img {
  margin-top: -300px;
}*/

.searchbar {
  display: flex;
  justify-content: flex-end;
  /*min-width: 100%*/
}

input {
  height: 3em;
  border: 1px solid black;
  text-indent: 10px;
}

select {
  height: 3em;
  outline: 1px;
  border: 1px solid black;
  border-radius: 0px;
  text-indent: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 20px 30px 20px;
  max-width: 30%;
  max-height: 400px;
}

li:hover {
  background: purple;
}

.frame {
  max-width: 100%;
  max-height: 13em;
  overflow: hidden;
}

img {
  max-width: 100%;
}
